*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
libs/
app/src/main/java/com/liflymark/normalschedule/logic/network/ServiceCreator.kt
release/0.0.1beta4-1.apk
src/main/java/com/liflymark/normalschedule/ui/add_course/
src/main/java/com/liflymark/normalschedule/ui/base/
