<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liflymark.normalschedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".NormalScheduleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NormalSchedule"
        tools:targetApi="n">
        <activity
            android:name=".ui.add_course.AddCourseComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_add_course_compose"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.work_book.WorkBookActivity"
            android:exported="true"
            android:label="@string/title_activity_work_book"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.about.ComposeAboutActivity"
            android:exported="true"
            android:label="about"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.tool_box.ToolBoxActivity"
            android:exported="true"
            android:label="@string/title_activity_tool_box"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.login_space_room.ShowSpaceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.login_space_room.LoginSpaceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.edit_course.EditCourseActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_course"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.class_course.ClassCourseActivity"
            android:exported="true"
            android:label="@string/title_activity_class_course"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.score_detail.ShowDetailScoreActivity"
            android:exported="true"
            android:label="@string/title_activity_show_detail_score"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.score_detail.LoginToScoreActivity"
            android:exported="true"
            android:label="@string/title_activity_login_to_scroe"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.show_timetable.ShowTimetableActivity2"
            android:exported="true"
            android:theme="@style/Theme.NormalSchedule.ShowTimeTableSplash" />
        <activity
            android:name=".ui.lib_order.LibOrderActivity"
            android:exported="true" />
        <activity
            android:name=".ui.about.GitListActivity"
            android:exported="true" />
        <activity android:name=".ui.import_again.ImportCourseAgain" />
        <activity
            android:name=".ui.set_background.DefaultBackground"
            android:label="选择背景"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.import_show_score.ShowScoreActivity"
            android:label="成绩单"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.import_show_score.ImportScoreActivity"
            android:label="成绩查询"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".ui.show_timetable.ShowTimetableActivity" -->
        <!-- android:theme="@style/Theme.NormalSchedule.NoActionBar" /> -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NormalSchedule.ShowTimeTableSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <receiver
            android:name=".ui.app_widget_day.DayAppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_day_info" />
        </receiver>

        <service
            android:name=".ui.app_widget_day.DayRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>