<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liflymark.normalschedule">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NormalScheduleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.NormalSchedule"
        tools:targetApi="n">
        <activity
            android:name=".ui.score_detail.LoginToScoreActivity"
            android:exported="true"
            android:label="@string/title_activity_login_to_scroe"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.show_timetable.New"
            android:exported="true"
            android:label="@string/title_activity_new"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.show_timetable.ShowTimetableActivity2"
            android:exported="true" />
        <activity
            android:name=".ui.lib_order.LibOrderActivity"
            android:exported="true" />
        <activity
            android:name=".ui.about.GitListActivity"
            android:exported="true" />
        <activity android:name=".ui.import_again.ImportCourseAgain" />
        <activity
            android:name=".ui.set_background.DefaultBackground"
            android:label="选择背景"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.add_course.AddCourseActivity"
            android:label="增加课程"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.import_show_score.ShowScoreActivity"
            android:label="成绩单"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
        <activity
            android:name=".ui.import_show_score.ImportScoreActivity"
            android:label="成绩查询"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.NormalSchedule.NoActionBar" />
<!--        <activity-->
<!--            android:name=".ui.show_timetable.ShowTimetableActivity"-->
<!--            android:theme="@style/Theme.NormalSchedule.NoActionBar" />-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NormalSchedule.ShowTimeTableSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".logic.utils.appwidget.AppwidgetTodayProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/appwidget_course_day" />
        </receiver>
    </application>

</manifest>